<div class="chat-container flex flex-col h-screen">
  <div class="chat-messages flex-1 overflow-y-auto">
    <div class="grid gap-y-2">
      <!-- Chat Messagges -->
       <app-chat-message
        message="Escribe el texto que quieres que revise."
       />

       <app-my-message
        message="Hola Mundo"
       />

       <app-typing-loader/>
    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Escribe un mensaje..."
    (onMesage)="handleMessage($event)"
  />
</div>
